.margin-top-custom {
    margin-top: 10px;
}

.select-custom {
    width: 100%;
    padding-left: 5px;
    border: 1px solid #c2c2c2;
    border-radius: 5px;
    height: 30px;
    font-weight: 400;
    font-size: 0.85rem;
    background-color: #fff;
}

.select-custom:focus-visible {
    border: 1px solid #c2c2c2;
    outline: none;
}

::ng-deep .p-datatable {
    border-bottom: none;
}